<a asp-controller="Home" 
   asp-action="Index"
   asp-protocol="https">To Index</a>

<a asp-route="privacy">To Privacy</a>

<link asp-href-include="~/css/**/*.css" />


<a asp-controller="About" 
   asp-action="Employees"
   asp-route-depart="devops"
   asp-route-city="Moscow">Emploees List</a>

<script asp-src-include="~/js/**/*.js">

</script>
